@import 'rt-raleway';
@import 'materialdesignicons';
@import 'styles';

.forgot {
	position: relative;
	height: 500px;
	width: 450px;
	background: $background-2;
	box-shadow: $shadow-0;
	// border-radius: 3px;
	z-index: 1;
	padding: 40px 0;
	overflow: hidden;

	.modal-header {
		// margin: 0 0 60px 0;
		height: 118px;
	}
	h1 {
		font-size: 1.6rem;
		font-weight: normal;
		margin: 0;
	}
	$num_carousel_items: 2;
	.input-carousel {
		// margin: 60px 0 0 0;
		// height: 46px;
		width: 100%;
		padding: 0 0 20px 0;
		overflow-x: hidden;
		opacity: 1;
		transition: opacity .2s $transition;
		// display: flex;

		.carousel-container {
			width: calc(100% * #{$num_carousel_items});
			display: flex;
			transition: margin .3s $transition;

			.carousel-item {
				display: block;
				flex: 1;
				margin: 0 40px;

				.footer-row {
					text-align: right;
					position: absolute;
					bottom: 20px;
					width: calc(100% - 80px);
					margin: 0;
					color: $text-dark-secondary;

					.btn {
						margin-left: 20px;
					}
					a {
						color: $accent-2;
						text-decoration: none;
					}
				}
			}
			&[data-offset="0"] {
				margin-left: 0;
			}
			&[data-offset="1"] {
				margin-left: -100%;
			}
		}
	}

	.button-row {
		height: 50px;
		line-height: 50px;
		width: 100%;
		text-align: right;

		a {
			color: $accent-2;
			text-decoration: none;
			float: left;
		}
	}

	&.working {
		pointer-events: none;

		.input-carousel {
			opacity: 0.5;
		}
		.progress {
			height: 4px;
			// display: block;
		}
	}

	@media screen and (max-width: 600px) {
		& {
			width: 100%;
			height: 100%;
			// border-radius: 0;
			box-shadow: none;
		}
	}
}